<tr class="row">
    <% if(op.E_VALUE) { %>
        <td class="field negative">
            - <%- op.E_VALUE %>
        </td>
    <% } else { %>
        <td class="field positive">
            + <%- op.I_VALUE %>
        </td>
    <% } %>
    <td class="field">
        <%- formatDate(op.CREATED_AT) %>
    </td>
    <td class="field">
        <% if(op.CATEGORY) { %>
            <%- op.CATEGORY %>
        <% } else { %>
            <span>-</span>
        <% } %>
    </td>
    <% if(op.E_ID_OPERATION) { %>
        <td class="field text-center">
            <form action="/dashboard/list/modify/e<%- op.E_ID_OPERATION %>" method="post">
                <button class="modify">
                    <ion-icon name="pencil-sharp"></ion-icon>
                </button>
            </form>
        </td>
        <td class="field text-center">
            <form action="/dashboard/list/delete/e<%- op.E_ID_OPERATION %>" method="post">
                <button class="delete">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </form>
        </td>
    <% } else if(op.I_ID_OPERATION) { %>
        <td class="field text-center">
            <form action="/dashboard/list/modify/i<%- op.I_ID_OPERATION %>" method="post">
                <button class="modify">
                    <ion-icon name="pencil-sharp"></ion-icon>
                </button>
            </form>
        </td>
        <td class="field text-center">
            <form action="/dashboard/list/delete/i<%- op.I_ID_OPERATION %>" method="post">
                <button class="delete">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </form>
        </td>
    <% } %>
</tr>