<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountapp - Dashboard</title>
    <link rel="icon" href="img/logos/logo.png" type="image/png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&family=Courgette&family=Oswald&family=Roboto:wght@300;500&family=Montserrat:wght@400;500;700&family=Poppins:wght@300;500;600;800&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user/dashboard.css">

</head>
<body>
    
    <%- include('../partials/user-modal') %>
    
    <%- include('../partials/background') %>
    
    <%- include('../partials/navigation') %>


    <div class="dashboard-box">
        <div class="grid">
            <div class="balances">
                <div class="current">
                    <h2>Current Balance</h2>
                    <div class="current-box">
                        <span class="current-value"></span>&nbsp;
                        <ion-icon class="current-icon"></ion-icon>
                    </div>
                </div>
                <div class="chart-box">
                    <h2>Balance Chart</h2>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="operations-list">
                <h2>Last Operations</h2>
                <% if(operations.length > 0) { %>
                    <table class="operations-table" cellspacing="0" border="1">
                        <thead>
                            <tr class="row">
                                <th class="field">VALUE</th>
                                <th class="field">DATE</th>
                                <th class="field">CATEGORY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(op of operations) { %>
                                <%- include('../partials/list_item', { op }) %>
                            <% } %>
                        </tbody>
                    </table>
                    <span class="list-link">
                        <a href="/dashboard/list">See all the operations&nbsp;<ion-icon name="link-outline"></ion-icon></a>
                    </span>
                <% } else { %>
                    <span class="register-link">
                        You don't have any operations registered yet.
                        <a href="/dashboard/new">Add one&nbsp;<ion-icon name="link-outline"></ion-icon</a>
                    </span>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>

    <!-- Jquery -->
    <script src="/js/jquery-3-6-0.min.js"></script>

    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <!-- Custom Scripts -->
    <script src="/js/nav.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/user/dashboard.js"></script>
    
</body>
</html>