<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountapp - Dashboard</title>
    <link rel="icon" href="img/logos/logo.png" type="image/png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&family=Courgette&family=Oswald&family=Roboto:wght@300;500&family=Montserrat:wght@400;500;700&family=Poppins:wght@300;500;600;800&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user/list.css">

</head>
<body>
    
    <%- include('../partials/user-modal') %>
    
    <%- include('../partials/background') %>
    
    <%- include('../partials/navigation') %>

    <%- include('../partials/message') %>

    <div class="list-box">

        <h1 class="welcome-text show-info">Hi <%- user.FULLNAME.split(" ")[0] %>, these are all your operations.</h1>

        <div class="filter-box">
            <form action="/dashboard/list" method="get" id="categoryForm">
                <!-- Sending existing filters -->
                <input type="hidden" name="filters" class="active-filters">
            </form>
            <div class="filter-menu">
                <div class="filter-text">Category<ion-icon name="caret-down"></ion-icon></div>
                <ul class="filter-dropdown">
                </ul>
            </div>
            <ul class="selected-filters">
            </ul>
        </div>

        <table class="operations-table" cellspacing="0" border="1">
            <thead>
                <tr class="row">
                    <th class="field">CONCEPT</th>
                    <th class="field">VALUE</th>
                    <th class="field">DATE</th>
                    <th class="field">CATEGORY</th>
                    <th class="field text-center">MODIFY</th>
                    <th class="field text-center">DELETE</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="table-footer">
            <span class="list-info"></span>
            <form action="/dashboard/list" method="get" class="pagination">
                <!-- Sending existing filters -->
                <input type="hidden" name="filters" class="active-filters">
                Page&nbsp;
            </form>
        </div>

        <h1 class="welcome-text hide-info">Hi <%- user.FULLNAME.split(" ")[0] %>, you don't have any operations registered yet.</h1>
        <a href="/dashboard/new" class="register-link">Add one&nbsp;<ion-icon name="link-outline"></ion-icon</a>
    </div>

    <%- include('../partials/footer') %>

    <!-- Jquery -->
    <script src="/js/jquery-3-6-0.min.js"></script>

    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Custom Scripts -->
    <script src="/js/nav.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/user/list.js"></script>
    
</body>
</html>