<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountapp - Dashboard</title>
    <link rel="icon" href="img/logos/logo.png" type="image/png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&family=Courgette&family=Oswald&family=Roboto:wght@300;500&family=Montserrat:wght@400;500;700&family=Poppins:wght@300;500;600;800&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user/new.css">

</head>
<body>
    
    <%- include('../partials/user-modal') %>
    
    <%- include('../partials/background') %>
    
    <%- include('../partials/navigation') %>
 
    <div class="register-box">
        <h2>Register new operations.</h2>
        <form action="/dashboard/new" method="post" class="register-form">
            <div class="grid">
                <div class="concept-buttons">
                    <div class="income">Income</div>
                    <div class="expenses">Expenses</div>
                </div>
                <div class="operation-info">
                    <input type="number" placeholder="Value" class="field-value">
                    <% if(categories) { %>
                        <select class="category-select" name="category">
                            <option value="" selected hidden>Category</option>
                            <option value="">None</option>
                            <% for(cat of categories) { %>
                                <option value="<%- cat %>"><%- cat %></option>
                            <% } %>
                            <option value="other">Other</option>
                        </select>
                        <input type="text" name="category" class="new-category" placeholder="New category">
                    <% } else { %>
                        <input type="text" name="category">
                    <% } %>
                    <button class="btn-send">SEND&nbsp;<ion-icon name="send"></ion-icon></button>
                </div>
            </div>
        </form>
    </div>
   
    <%- include('../partials/footer') %>

    <!-- Jquery -->
    <script src="/js/jquery-3-6-0.min.js"></script>

    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <!-- Custom Scripts -->
    <script src="/js/nav.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/user/new.js"></script>
    
</body>
</html>